services:
  web:
    build: .
    command: gunicorn ecom.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app                 # Project files
      - ./media:/app/media     # Map media files to container
    working_dir: /app
    ports:
      - "8000:8000"
    environment:
      DEBUG: "1"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1"
      DB_NAME: ecom_db
      DB_USER: toha
      DB_PASSWORD: 1234
      DB_HOST: db
      DB_PORT: 5432
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: toha
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: ecom_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
